/* Reset some default styles for better consistency */
body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    /* White background */
    color: #333;
}

.header {
    background-color: #2ecc71;
    /* Green header */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-title {
    font-size: 48px;
}

.nav {
    background-color: #27ae60;
    /* Darker green navigation */
    overflow: hidden;
    text-align: center;
    /* Center the navigation links */
}

.navElement {
    display: inline-block;
    /* Display navigation links in a line */
}

.navElement a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    /* Increase font size for navigation links */
}

.navElement a:hover {
    background-color: #1d8348;
    /* Dark green on hover */
}

.content {
    max-width: 800px;
    /* Set maximum width for content */
    margin: 0 auto;
    /* Center the content */
    padding: 20px;
}

.content-div {
    background-color: #e8eaec;

    /* Light gray background for content divs */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    /* Center the content within the div */
}

.logo {
    display: block;
    margin: 0 auto;
    /* Center the logo horizontally */
}

.content-header {
    color: #2ecc71;
    /* Green heading */
    font-size: 24px;
    /* Increase font size for heading */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Add space between heading and paragraph */
}

.content-p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Increase font size for paragraphs */
}

.signup {
    width: 100%;
    height: 750px;
}


.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;

    width: 100%;
    animation: fade 1s ease-in-out;
    /* Add fade animation */
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


.prev,
.next {
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    font-size: 20px;
    color: white;
    background-color: #2ecc71;
    border: none;
    cursor: pointer;
    animation: fade 1.5s ease-in-out;
}

.next {
    right: 0;
}

/* Add more styles as needed for your specific design */